html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	background: #252525;
	font-size: 13px;
}

a {
	text-decoration: none !important;
}

/* Modifications */
.center {
	margin: 0 auto !important;
}

.clearBoth{
	clear: both !important;
}

.maxWidth {
	width: 100% !important;
}

.blue {
	background: #3c43ad !important;
}

.purple {
	background: #461f70 !important;
}

.green {
	background: #446e21 !important;
}

.active {
	background: #535353 !important;
}

.marginRight {
	margin-right: 5px !important;
}

.smallPrice {
	font-size: 9px !important;
	color: #ababab !important;
	float: left !important;
	margin-left: 24px !important;
}

/* Table button */
.tableButton {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 12px !important;
	border: none !important;
	height: 30px !important;
	line-height: 32px !important;
}

/* Table section */
table.default {

	width: 100%;
	font-size: 12px;
	color: white;
}

table.default, table.default th, table.default td {
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}

table.default th {
	border: 1px solid black;
	background: #222222;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 30px;
}

table.default td {
	color: white;
	border: 1px solid black;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 30px;
}

table.default tr:nth-child(even) {
	background: #333333;
}

table.default tr:nth-child(odd) {
	background: #444444;
}

/* PM section */
.PM {
	border: 1px solid black;
	margin-bottom: 10px;
	display: table;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.PM.sent {
	float: right;
	text-align: right;
}

.PM_sender {
	max-width: 200px;
	height: 20px;
	background: #3c43ad;
	color: white;
	border-bottom: 1px solid black;
	word-wrap: break-word;
	text-align: right;
 	overflow: hidden;
 	white-space: nowrap;
 	text-overflow: ellipsis;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0 5px;
}

.PM_message {
	max-width: 200px;
	color: black;
	background: white;
	font-size: 13px;
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 0 5px;
}

.PM_time {
	float: left;
	font-size: 10px;
	vertical-align: middle;
	margin-top: 3px;
	margin-right: 20px;
}

/* footer navigation */
.footerNavigation {
	margin: 0 auto !important;
}

/* Mobile CSS */
.ui-footer {
	position: fixed !important;
	bottom: 0 !important;
	width: 100% !important;
	border-top: 1px solid black !important;
}

.ui-header {
	border-bottom: 1px solid black !important;
}

.ui-btn {
	font-size: 9px !important;
}

.ui-icon-delete {
	margin-top: 15px !important;
	margin-right: 15px !important;
	background: #73271a !important;
}

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}